@import '../../style/common.less';

@lineColor :#e5e5e5;//默认边框颜色

.list{
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  li{
    width: 33.33%;
    text-align: center;
    border-bottom: 1px solid @lineColor;
    &:nth-child(7){
      border-bottom: none
    }
    &:nth-child(8){
      border-bottom: none
    }
    &:nth-child(9){
      border-bottom: none
    }
    &:nth-child(3n) {
      p,span{
        border-right: none
      };
    }
    span{
      display: block;
      margin-top: 14px;
      padding-bottom: 6px;
      border-right: 1px solid @lineColor;
    }
    p{
      margin-bottom: 14px;
      font-size: 14px;
      color: #888;
      border-right: 1px solid @lineColor;
    }
  }
}

.notice{
  width: 100%;
  height: 44px;
  background-color: #fff;
  margin-top: 10px;
  .content{
    display: flex;
    align-items: center;
    height: 100%;
    span{
      flex: 1;
    }
    p{
      flex: 8;
      font-size: 12px;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
  }
}

.pic{
  width: 100%;
  height: 85px;
  background-color: #FF6260;
  background-image: url('../../images/bg.jpeg')
}

.more{
  background-color: #fff;
  margin-top: 10px;
  padding-bottom: 10px;
  ul{
    display: flex;
    flex-wrap: wrap;
    li{
      width: 25%;
      text-align: center;
      margin-top: 18px;
      img{
        width: 38px;
        margin-bottom: 8px;
      }
      p{
        font-size: 13px;
        color: #000000;
        text-align: center;
        line-height: 15px;
      }
    }
  }
}

.layer{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .4);
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: center;
  .ad{
    width: 72%;
    text-align: center;
    .bg{
      width: 100%;
    }
    .close{
      width: 32px;
      margin-top: 10px;
    }
  }
}

