@import '../../style/common.less';

.notice{
  height: 34px;
  color: #F76A24;
  width: 100%;
  background: #FFFCEB;
  .cc{
    display: flex;
    justify-content: space-between;
    p{
      line-height: 34px;
      font-size: 14px;

    }
  }
}

.list{
  width: 100%;
  li{
    margin-top: 10px;
    background-color: #fff;
    .top{
      padding: 0 15px;
      border-bottom: 1px solid #E5E5E5;
      div{
        display: flex;
        justify-content: space-between;
        &:first-child{
          padding-top: 12px;
          margin-bottom: 7px;
          h5{
            font-size: 16px;
            color: #000000;
          }
          span{
            font-size: 13px;
            color: #FF6260;
            &.close{
              color: #666;
            }
            &.period{
              color: #ccc
            }
          }
        }
        &:nth-child(2){
          justify-content: flex-start;
          margin-bottom: 7px;
          color: #888;
          span{
            &:first-child{
              font-size: 15px;
              color: #FF6260;
              margin-right: 4px;
            }
            &:last-child{
              font-size: 13px;
            }
          }
        }
        &:last-child{
          color: #888;
          padding-bottom: 13px;
          p{
            font-size: 13px;
            color: #888888;
          }
          a{
            font-size: 13px;
            color: #2DCD64;
          }
        }
      }
    }
    .bot{
      display: flex;
      background-color: #fff;
      padding: 10px 0;
      div{
        flex: 1;
        text-align: center;
        font-size: 13px;
        p{
          margin-bottom: 5px;
          color: #888888;
        }
      }
    }
  }
}

