body,div,span,label,img,input,button,p,a{
    padding:0;
    margin: 0;
}

[v-cloak] {
    display: none;
}

html,body{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    line-height: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 0px;
    }
}

a{
    text-decoration: none;
}

button {
    border: none;
    outline: none;
}

.cc{
    width: 92%;
    margin: 0 auto;
}
